{% extends "base.html" %}
{% block title %}Games for {{ user }}{% endblock %}
{% block content %}
<h2>Games for <a href="https://boardgamegeek.com/user/{{user}}">{{user}}</a></h2>
You should play:
{% for game in rest %}
    <a href="https://boardgamegeek.com/boardgame/{{game.id}}">{{game.name}}</a> or 
{% endfor %}
<a href="https://boardgamegeek.com/boardgame/{{last.id}}">{{last.name}}</a> 
{% if existing|length > 0 %}
    <hr />
    Answers:
    <ul>
    {% for question, answer in existing.items %}
        <li>{{question}} {{answer}}</li>
    {% endfor %}
    </ul>
{% endif %}
<hr />
<a href="/user/{{user}}">Go back to beginning of questions</a><br />
<a href="/graph/{{user}}">Show entire tree for {{user}}</a><br />
<a href="/">Back to user selection</a><br />
{% endblock %}