{% extends "base.html" %}
{% block title %}BGG Graph{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>BoardGameGeek Graph</h1>
    <p>This is a tool for making a flowchart for what of your games you should play today using the data from <a href="https://boardgamegeek.com/">BoardGameGeek</a></p>
    <p>
      <form method="POST" action="/lookup/">
        {% csrf_token %} 
        BGG username <input type="text" name="username" placeholder="BGG username" />
        <button type="submit" class="btn btn-primary">Get flowchart</button>
      </form>
    </p>
  </div>
</div>
{% endblock %}
