{% extends "base.html" %}
{% block title %}Questions for {{ user }}{% endblock %}
{% block content %}
<h2>Questions for {{ user }}</h2>
Would you like {{question}}
{% for answer, query in answers.items %}
    <a href="/user/{{user}}?{{query}}">{{answer}}</a>
{% endfor %}
{% if existing|length > 0 %}
    <hr />
    Already answered:
    <ul>
    {% for question, answer in existing.items %}
        <li>{{question}} {{answer}}</li>
    {% endfor %}
    </ul>
{% endif %}
<hr />
<a href="/user/{{user}}">Go back to beginning of questions</a><br />
<a href="/graph/{{user}}">Show entire tree for {{user}}</a><br />
<a href="/">Back to user selection</a><br />
{% endblock %}